


body {
  background-image: url("ASSETS/Background.jpg"); 
}

main{
  background-color: rgba(132,228,226,40%);
  
}

h1 ,h2 ,p {
  color: white;
  
}

h1{
  text-align:center;
  font-size: 2vw;
}

table {
  width:100%;
  
}

hr {
  color:#306844; 
  
}

Form {
  margin-top:0%;
  padding-top:0%;
  padding:30%;
  box-shadow: 10px;
}

.left {
  float:left;
  padding:1%;
  border-right:3px solid #306844;
  }

.content {
  margin-left:14%;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #2e3550;
  color: white;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #84e4e2;
  color: white;
}

li a:hover:not(.active) {
  background-color: #29292a;
  color: white;
}
